# Django
DEBUG=True
SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS=localhost,127.0.0.1

# Database PostgreSQL
DB_NAME=bookmora_db
DB_USER=bookmora_user
DB_PASSWORD=your-db-password

# CORS
CORS_ALLOWED_ORIGINS=http://localhost,http://localhost:80,http://localhost:5173

# Frontend
VITE_API_URL=http://localhost/api
